certifi==2019.11.28
chardet==3.0.4
idna==2.8
inflection==0.3.1
more-itertools==8.2.0
multitasking==0.0.9
numpy==1.18.1
pandas==1.0.1
python-dateutil==2.8.1
pytz==2019.3
Quandl==3.5.0
requests==2.22.0
simplejson==3.17.0
six==1.14.0
urllib3==1.25.8
